<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TransducerDriver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <TransducerDriver.Properties.Settings>
            <setting name="DeviceID" serializeAs="String">
                <value />
            </setting>
            <setting name="gxGain" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gyGain" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="gzGain" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="rollGain" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="pitchGain" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="yawGain" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LFShockGain" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RFShockGain" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LRShockGain" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RRShockGain" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="gxLeftChannelEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gxRightChannelEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gyLeftChannelEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gyRightChannelEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gzLeftChannelEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gzRightChannelEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rollLeftChannelEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rollRightChannelEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pitchLeftChannelEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pitchRightChannelEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="yawLeftChannelEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="yawRightChannelEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LFLeftChannelEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LFRightChannelEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RFLeftChannelEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RFRightChannelEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LRLeftChannelEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LRRightChannelEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RRLeftChannelEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RRRightChannelEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="commonGain" serializeAs="String">
                <value>100</value>
            </setting>
        </TransducerDriver.Properties.Settings>
    </userSettings>
</configuration>
